# Compiled output
/dist
/node_modules
/build
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS / System Files
.DS_Store
Thumbs.db

# Testing
/coverage
/.nyc_output

# IDEs and Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temp Directories & Runtime Data
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Node Diagnostic Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json